* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
html {
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

/* Main */
.body-footer {
    width: 100%;
}

.footer {
    width: 100%;
    background-color: #092630;
    position: relative;
    height: 286px;
}

.footer .logo {
    display: inline-block;
}

.footer-about {
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 28%;
    top: -111px;
}

.footer a {
    line-height: 3;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
}

.footer span {
    color: #fff;
}

.footer-practices {
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 42%;
    top: -279px;
}

.footer-contact {
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 55%;
    top: -446px;
}

.footer-contact a {
    font-weight: 700;
    line-height: 2;
    padding-bottom: 11px;
}

.community {
    margin-top: 6px;
}

.community svg{
    color: #fff;
}

label[data-shrink=false]+.MuiInputBase-formControl .css-10botns-MuiInputBase-input-MuiFilledInput-input {
    width: 400px;
    height: 18px;
}

.form-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sub-btn {
    background: #ad0031;
    width: 115px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.copyright {
    width: 100%;
    height: 70px;
    display: block;
    background: #363738;
}

.copyright nav {
    padding-top: 24px;
    padding-left: 90px;
}

.copyright nav a,
.copyright nav p {
    color: #ccc;
    opacity: 0.6;
    font-weight: 100;
    font-size: 15px;
}