* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
html {
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

/* Main */
.body-4 {
    width: 100%;
    background-color: #083248;
    opacity: 1;
    position: relative;
}

.container-4,
.bgimg {
    width: 100%;
    height: 650px;
}

.bgimg {
    opacity: 0.3;
    position: absolute;
}

.frame-content {
    padding: 260px 0;
    height: 587px;
    width: 80%;
    margin-left: 149px;
    position: absolute;
    top: 43px;
    border: 3px solid rgb(255, 255, 255);
}

.header-4 {
    align-items: center;
    text-align: center;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.header-4 .remove-icon {
    height: 9px;
    width: 54px;
    position: relative;
    text-align: center;
    background-color: #e3b015;
    margin-bottom: -211px;
    top: -247px;
}

.frame-content .param-content {
    text-align: center;
    top: -124px;
    position: relative;
}

.frame-content .logo-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-left: 105px;
    bottom: 83px;
}

.frame-content .logo-content .logoimg{
    width: 110px;
    box-shadow: 0 0 10px rgb(255 255 255 / 10%);
}

.frame-content .data-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 105px;
    left: 17px;
}

.frame-content .data-content .data-client {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.frame-content .data-content .data-client h4,
.frame-content .data-content .data-client p {
    color: #fff !important;
}

.css-5dr1d4-MuiButtonBase-root-MuiButton-root {
    color: #fff !important;
    border-color: #fff !important;
    padding: 15px 55px !important;
    top: 45px;
    left: 42%;
}