* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
html {
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

/* Main */
.body-6 {
    width: 100%;
}

.container-6 {
width: 100%;
height: max-content;
}

.bgimg-6 {
    width: 100%;
    height: 865px;
    position: absolute;
    opacity: 0.1;
}

.header-6 {
    align-items: center;
    text-align: center;
    padding-top: 65px;
    display: flex;
    flex-direction: column;
}

.header-6 .remove-icon {
    height: 9px;
    width: 54px;
    position: relative;
    text-align: center;
    background-color: #e3b015;
    margin-bottom: 35px;
    top: 5px;
}

.content-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    padding: 92px;
    margin-top: -60px;
    position: relative;
}

.content-6 .css-uq9590-MuiPaper-root-MuiCard-root {
    height: 438px;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 15%);
}

.content-6 p {
    font-weight: 500;
    color: #e3b015;
}

.content-6 h6 {
    font-weight: 600;
    word-wrap: break-word;
    font-size: 1.6rem;
}

.container-6 .css-179zdkb-MuiButtonBase-root-MuiButton-root {
    background-color: #ad0031;
    color: #fff !important;
    border-color: #fff !important;
    padding: 15px 55px !important;
    top: -48px !important;
    left: 41% !important;
}

.container-6 .css-179zdkb-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #b12a50;
}

.container-6 .arrowIcon{
    position: relative;
    margin-left: 10px;
    margin-bottom: 0;
    align-items: center;
    flex-wrap: wrap;
}