* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
html {
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

/* Main */
.body-7 {
    width: 100%;
}

.container-7 {
width: 100%;
height: max-content;
}

.header-7 {
    align-items: center;
    text-align: center;
    padding-top: 46px;
    display: flex;
    flex-direction: column;
}

.hotline-area {
    align-items: center;
    text-align: center;
    padding-top: 6px;
    padding-right: 28px;
    display: flex;
    flex-direction: column;
}

.hotline-area .phoneicon {
    margin-right: 4px;
    margin-bottom: -7px;
}

.hotline-area nav {
    margin-left: 28px !important;
}

.content-7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 37px;
    padding: 92px;
    margin-top: -60px;
}

.container-7 .box-content {
    height: 381px;
}

.content-7 .box-content h6 {
    color: #e3b015;
    font-weight: 600;
    padding: 46px 60px;
}

.content-7 .box-content .detail {
    position: relative;
    padding: 0 81px;
    bottom: 30px;
    right: 22px;
    line-height: 1.4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    word-wrap: break-word;
}

.content-7 .box-content .hanoi,
.content-7 .box-content .saigon,
.content-7 .box-content .emergency {
    display: flex;
    flex-direction: column;
}    
.content-7 .box-content .hanoi,
.content-7 .box-content .saigon {
    row-gap: 6px;
}

.content-7 .box-content .emergency {
    padding-right: unset;
    row-gap: 4px;
}

.dispute {
    bottom: 51px !important;
}

.content-7 .box-content #mailParam,
.content-7 .box-content #phoneParam,
.content-7 .box-content #googlemapParam {
    margin-left: -24px;
}

.sendmsg-btn {
    border: 3px solid;
    border-color: #fff;
    background: #083248;
    padding: 18px;
    margin-left: 98px;
    margin-top: 26px;
    width: 215px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}