* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
html {
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

/* Main */
.body-2 .container {
    width: 100%;
    height: 328px;
}

.grid-content {
    padding-bottom: 80px;
}

.box-content {
    box-shadow: none;
    -webkit-appearance: none;
    height: 328px;
}

.course-content-bg {
    position: absolute;
    background-color: #083248;
}

#course-img-1 {
    position: relative;
    left: 0;
    right: 0;
    opacity: 0.1;
    object-fit: fill;
}

.course-content {
    position: relative;
    z-index: 1;
    color: #fff;
    top: 7px;
    left: 28px;
    text-shadow: 0 0 10px rgb(0 0 0 / 80%);
    word-wrap: break-word;
    line-height: 1;
}

.link-content {
    position: relative;
    display: inline;
    top: 40%;
    left: 40px;
    text-shadow: 0 0 10px rgb(0 0 0 / 80%);
    text-align: center;
}

.link-content-2 {
    position: relative;
    display: inline;
    bottom: -25%;
    left: 40px;
    text-shadow: 0 0 10px rgb(0 0 0 / 80%);
    text-align: center;
}

.link-content-card {
    margin-top: 105px;
}

.link-content a,
.link-content-2 a {
    font-weight: 500;
}

.link-content-card-2 {
    margin-top: 48px;
}

.arrowIcon {
    position: relative;
    margin-bottom: -12px;
    align-items: center;
    flex-wrap: wrap;
}