* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
html {
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

/* Main */
.body-5 {
    width: 100%;
    background:#083248;
    background-position-y: bottom;
}

.container-5 {
    width: 100%;
    height: max-content;
}

.header-5 {
    align-items: center;
    text-align: center;
    padding-top: 68px;
    display: flex;
    flex-direction: column;
}

.content-5 {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    padding: 92px;
    position: relative;
    top: -54px;
}

.content-5 p {
    font-weight: 500;
    display: block;
    color: rgb(170, 170, 170);
    line-height: 1.6;
}

.btn-content {
    padding: 0;
    margin-top: 24px;
}

.btn-content .btn-content-group {
    position: relative;
    bottom: 105px;
    left: 44%;
}

.btn-content .btn-content-group button {
    padding: 12px;
    margin-right: 28px;
}

.btn-content .btn-content-group button:hover {
    background-color: #ccc;
}

.btn-content .btn-content-group button svg{
    font-size: 54px;
}

.body-5 .css-5dr1d4-MuiButtonBase-root-MuiButton-root {
    color: #fff !important;
    border-color: #fff !important;
    padding: 15px 55px !important;
    top: -54px !important;
    left: 41% !important;
}
.body-5 .arrowIcon{
    position: relative;
    margin-left: 10px;
    margin-bottom: 0;
    align-items: center;
    flex-wrap: wrap;
}