* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
html {
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

p {
    display: inline-block;
}

/* Main */
.body-1 {
    width: 100%;
   height: max-content;
}

.body-1 .container-1 {
    max-width: 100%;
    width: 100%;
    height: 950px;
    background-color: #092630;
}

#header {
    text-align: center;
    align-items: center;
    display: flex;
    height: 86px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#header .menubar {
    margin-left: 82px;  
    position: relative;
}

#header .menubar button {
    color: #fff;
    font-size: 14px;
    margin: 0 4px;
    padding: 8px 12px;
    text-shadow: 0 0 10px rgb(0 0 0 / 80%);
    letter-spacing: 2px;
}

.llclogo {
    width: 258px;
    margin-left: 46px;
    position: relative;
}

.banner .banner_img {
    width: 100%;
    height: 950px;
    position: absolute;
    display: inline-block;
    opacity: 0.7;
}

.banner .banner_text {
    position: relative;
    color: #fff;
    text-shadow: 0 0 10px rgb(0 0 0 / 80%);
    text-align: left;
    align-items: center;
    top: 28rem;
    left: 8%;
    display: inline-block;
}

.banner .banner_text h2 {
    font-size: 4.75rem;
    font-weight: 500;
}