* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
html {
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

/* Main */
.body-3 {
    width: 100%;
    position: relative;
}

.container-3 {
    height: 1060px;
}

.container-3,
.bg-img {
    width: 100%;
}

.bg-img {
    background-position: center;
    opacity: 0.1;   
    height: 1060px;
    position: absolute;
}

.header-3 {
    align-items: center;
    text-align: center;
    padding-top: 68px;
    display: flex;
    flex-direction: column;
}

.intro-header {
    position: relative;
    color: #e3b015;
    text-align: center;
}

.intro {
    bottom: 16px;
}

.remove-icon {
    height: 9px;
    width: 54px;
    position: relative;
    text-align: center;
    background-color: #e3b015;
    margin-bottom: 30px;
}

.area-content {
    position: relative;
    display: grid;
    padding: 42px 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 28px;
}

.box-area-content {
    padding: 20px;
    padding-bottom: 70px;
    position: relative;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 15%);
}

.box-area-content button {
    position: absolute;
    bottom: -7px;
    right: -12px;
    padding: 0px;
}

.box-area-content h5 {
    margin-top: 20px;
}

.header-32 {
    align-items: center;
    text-align: center;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.industry-sector {
    position: relative;
    display: grid;
    padding: 20px 185px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 28px;
}

.industry-content {
    padding: 60px 18px;
    opacity: 0.8;
}

.industry-content h6 {
    text-align: center;
    word-wrap: break-word;
    margin-top: 7px;
}

.industry-sector-2 {
    position: relative;
    display: grid;
    padding: 15px 301px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 28px;
}

.industry-sector-2 .industry-content {
    padding: 60px 18px;
    opacity: 0.8;
}

.industry-sector-2 .industry-content h6 {
    text-align: center;
    word-wrap: break-word;
    margin-top: 7px;
}